.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.spacer {
  height: 1000px;
}
.slideshow-container {
  border:2px solid grey;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.slideshow-container .slideshow {
  // display: flex;
  // flex-wrap: wrap;
  // max-width: 600px;
}
.slideshow-container .slideshow img {
  margin: 5px; 
}
